@import 'core/variables';
@import 'core/reset';
@import 'preview';
@import 'form-design';
@import 'form-fill';
@import 'form-share';
@import 'layout/footer';

.main-card__form{
    padding: 0 2rem;

    @media all and (min-width:768px) {
        width: 40vw;
        padding-left: 3rem;
    }
}

.collapsed {
    display: none;
}

.arrow-collapsed {
    transform: scale(-1);
}