/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  padding: 3rem 7.9rem 3rem 4rem;
  background-color: #fff; }
  .header__img {
    width: 20.1rem;
    height: 5rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.preview {
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 4.8rem; }
  @media all and (min-width: 768px) {
    .preview {
      height: inherit;
      width: 40vw;
      border-radius: 0.6rem;
      justify-content: center; } }
  @media all and (min-width: 1024px) {
    .preview {
      width: 70vw; } }
  .preview__reset {
    height: 2.5rem;
    width: 7.5rem;
    border: solid 1px #fff;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-8rem); }
    .preview__reset--link {
      text-decoration: none;
      color: #54585a;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2rem; }
    .preview__reset .fa-trash-can {
      padding-right: 0.4rem; }
  .preview__card {
    height: 33rem;
    width: 24rem;
    background-color: #fff;
    margin-top: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2); }
    .preview__card--text {
      display: grid;
      grid-template-columns: 2rem 1fr;
      grid-template-rows: 2.5rem 2rem;
      padding: 2rem 0 1rem 0; }
      .preview__card--text--color-line {
        background-color: #438792;
        width: 0.5rem;
        grid-row: 1/3;
        grid-column: 1; }
      .preview__card--text--name {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        color: #114e4e;
        grid-row: 1;
        grid-column: 2; }
      .preview__card--text--jobtitle {
        font-family: "Montserrat", sans-serif;
        font-size: 1.6rem;
        color: #54585a;
        grid-row: 2;
        grid-column: 2; }
    .preview__card--profile {
      background-image: url("../images/image-preview-default.jpg");
      background-size: cover;
      background-position: center;
      height: 60%; }
    .preview__card--contact-icons {
      height: 5.7rem;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      gap: 1rem; }
    .preview__card--link {
      text-decoration: none;
      color: #114e4e;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 2px #a2deaf;
      height: 3rem;
      width: 3rem;
      border-radius: 50%; }
      .preview__card--link--disabled {
        pointer-events: none;
        cursor: default; }
    .preview__card--icons {
      scale: 150%; }

/* palette 3 */
.preview__card.palette3 .preview__card--text--color-line {
  background-color: #eab052; }

.preview__card.palette3 .preview__card--text--name {
  color: #3e5b65; }

.preview__card.palette3 .preview__card--link {
  color: #3e5b65;
  border: solid 2px #a0c0cf; }

/* palette 2 */
.preview__card.palette2 .preview__card--text--color-line {
  background-color: #bd1010; }

.preview__card.palette2 .preview__card--text--name {
  color: #420101; }

.preview__card.palette2 .preview__card--link {
  color: #420101;
  border: solid 2px #e95626; }

/* palette 1 */
.preview__card.palette1 .preview__card--text--color-line {
  background-color: #438792; }

.preview__card.palette1 .preview__card--text--name {
  color: #114e4e; }

.preview__card.palette1 .preview__card--link {
  color: #114e4e;
  border: solid 2px #a2deaf; }

.main-card__form--design {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2.7rem; }
  .main-card__form--design--legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    cursor: pointer; }
    .main-card__form--design--legend .fa-object-ungroup {
      color: #e17334;
      font-size: 2rem;
      margin-top: 1rem; }
    .main-card__form--design--legend--title {
      color: #54585a;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-top: 1rem;
      padding-left: 1rem;
      text-align: left;
      flex-grow: 2; }
    .main-card__form--design--legend .fa-chevron-up {
      color: #54585a;
      font-size: 2rem;
      margin-top: 1rem; }
  .main-card__form--design--div {
    padding: 20px 0;
    width: 100%; }
    .main-card__form--design--div--title {
      font-size: 1.4rem;
      width: 62px;
      height: 19px;
      color: #54585a;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase; }
    .main-card__form--design--div--rectangle1 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 20px;
      padding-right: 2rem; }
      .main-card__form--design--div--rectangle1--input {
        cursor: pointer; }
      .main-card__form--design--div--rectangle1 #color_1 {
        width: 17px;
        height: 17px;
        margin-right: 10px; }
      .main-card__form--design--div--rectangle1--1 {
        background-color: #114e4e;
        width: 3rem;
        height: 2.5rem; }
      .main-card__form--design--div--rectangle1--2 {
        background-color: #438792;
        width: 30px;
        height: 25px; }
      .main-card__form--design--div--rectangle1--3 {
        background-color: #a2deaf;
        width: 30px;
        height: 25px; }
    .main-card__form--design--div--rectangle2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 2rem;
      padding-right: 2rem; }
      .main-card__form--design--div--rectangle2--input {
        cursor: pointer; }
      .main-card__form--design--div--rectangle2 #color_2 {
        width: 17px;
        height: 17px;
        margin-right: 10px; }
      .main-card__form--design--div--rectangle2--1 {
        background-color: #420101;
        width: 30px;
        height: 25px; }
      .main-card__form--design--div--rectangle2--2 {
        background-color: #bd1010;
        width: 30px;
        height: 25px; }
      .main-card__form--design--div--rectangle2--3 {
        background-color: #e95626;
        width: 30px;
        height: 25px; }
    .main-card__form--design--div--rectangle3 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 2rem;
      padding-right: 2rem; }
      .main-card__form--design--div--rectangle3--input {
        cursor: pointer; }
      .main-card__form--design--div--rectangle3 #color_3 {
        width: 17px;
        height: 17px;
        margin-right: 10px; }
      .main-card__form--design--div--rectangle3--1 {
        background-color: #3e5b65;
        width: 30px;
        height: 25px; }
      .main-card__form--design--div--rectangle3--2 {
        background-color: #eab052;
        width: 30px;
        height: 25px; }
      .main-card__form--design--div--rectangle3--3 {
        background-color: #a0c0cf;
        width: 30px;
        height: 25px; }

.main-card__form--fill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.3rem; }
  .main-card__form--fill--legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px #d8d8d8;
    width: 100%;
    cursor: pointer; }
    .main-card__form--fill--legend .fa-keyboard {
      color: #e17334;
      font-size: 2rem;
      margin-top: 1rem; }
    .main-card__form--fill--legend--title {
      color: #54585a;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-top: 1rem;
      padding-left: 1rem;
      text-align: left;
      flex-grow: 2; }
    .main-card__form--fill--legend .fa-chevron-up {
      color: #54585a;
      font-size: 2rem;
      margin-top: 1rem; }
  .main-card__form--fill--div {
    margin-top: 2.5rem; }
    .main-card__form--fill--div--label {
      font-family: "Open Sans", sans-serif;
      color: #114e4e;
      font-size: 1.4rem;
      margin-bottom: 0.7rem; }
    .main-card__form--fill--div--input {
      border: 1px solid;
      border-color: #a2deaf;
      background-color: #f5f5f5;
      margin-top: 0.7rem;
      margin-bottom: 2rem;
      width: 100%;
      height: 3rem; }
    .main-card__form--fill--div--boxes {
      display: flex;
      justify-content: row;
      align-items: center;
      margin-top: 0.7rem;
      margin-bottom: 2.0rem; }
      .main-card__form--fill--div--boxes--label-image {
        background-color: #e17334;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 1.4rem;
        text-align: center;
        border-radius: 3px;
        padding-top: 0.7rem;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        padding-bottom: 1rem;
        cursor: pointer; }
        .main-card__form--fill--div--boxes--label-image--input--images {
          display: none; }
      .main-card__form--fill--div--boxes--square {
        background-image: url("../images/image-preview-default.jpg");
        border: solid 1px;
        color: #a2deaf;
        width: 3rem;
        height: 3rem;
        margin-left: 20px;
        background-size: cover; }
  .main-card__form--fill ::-moz-placeholder {
    color: #c5c5c5;
    width: 100%;
    font-size: 1.4rem;
    padding-left: 0.9rem;
    font-family: "Open Sans", sans-serif; }
  .main-card__form--fill :-ms-input-placeholder {
    color: #c5c5c5;
    width: 100%;
    font-size: 1.4rem;
    padding-left: 0.9rem;
    font-family: "Open Sans", sans-serif; }
  .main-card__form--fill ::placeholder {
    color: #c5c5c5;
    width: 100%;
    font-size: 1.4rem;
    padding-left: 0.9rem;
    font-family: "Open Sans", sans-serif; }
  .main-card__form--fill .fa-sharp {
    color: #e17334;
    font-size: 2rem;
    position: relative;
    transform: translateY(20px); }

.main-card__form--share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 1.3rem; }
  .main-card__form--share--legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px #d8d8d8;
    width: 100%;
    cursor: pointer;
    padding-bottom: 1rem; }
    .main-card__form--share--legend .fa-share-nodes {
      color: #e17334;
      font-size: 2rem;
      margin-top: 1rem; }
    .main-card__form--share--legend--title {
      color: #54585a;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      text-transform: uppercase;
      padding-bottom: 3rem;
      margin-top: 1rem;
      padding-left: 1rem;
      text-align: left;
      flex-grow: 2; }
    .main-card__form--share--legend .fa-chevron-up {
      color: #54585a;
      font-size: 2rem;
      margin-top: 1rem; }
  .main-card__form--share--button {
    display: flex;
    flex-direction: row;
    background-color: #e17334;
    color: #fff;
    border-radius: 12px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-right: 2.4rem;
    padding-left: 1.7rem;
    margin-bottom: 3rem;
    margin-top: 2.5rem; }
    .main-card__form--share--button .fa-address-card {
      font-size: 2.2rem; }
    .main-card__form--share--button--title {
      font-family: "Open Sans", sans-serif;
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 1rem;
      cursor: pointer;
      border: 0px solid transparent;
      background-color: inherit;
      color: inherit; }
  .main-card__form--share--twitter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-top: solid 1px #d8d8d8;
    border-bottom: solid 1px #d8d8d8; }
    .main-card__form--share--twitter--text {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 600;
      color: #54585a;
      margin-top: 2rem; }
    .main-card__form--share--twitter--link {
      font-family: "Open Sans", sans-serif;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      text-decoration: none;
      color: #e17334;
      font-size: 1.2rem; }
    .main-card__form--share--twitter--button {
      background-color: #00a0f5;
      color: white;
      align-items: center;
      border: 0px solid transparent;
      border-radius: 3px;
      width: 18rem;
      height: 3rem;
      margin-bottom: 2rem; }
      .main-card__form--share--twitter--button--linkTwitter {
        color: white;
        font-family: "Open Sans", sans-serif;
        font-size: 1.4rem;
        text-decoration: none;
        gap: 1rem; }
    .main-card__form--share--twitter .fa-brands {
      color: white; }

.selected {
  background-color: #d5d5d5; }

.footer {
  width: 100%;
  height: 8vh;
  background-color: #fff;
  border-top: solid 0.1rem #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media all and (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  .footer__text::first-letter {
    text-transform: uppercase; }
  .footer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #6b6b6b;
    opacity: 0.5;
    margin: 3rem 0 0 0; }
    @media all and (min-width: 768px) {
      .footer__text {
        padding-left: 4rem; } }
  .footer__logo {
    width: 10.3rem;
    height: 4rem;
    margin: 1.2rem 4.7rem 2rem 4.8rem; }

.main-card__form {
  padding: 0 2rem; }
  @media all and (min-width: 768px) {
    .main-card__form {
      width: 40vw;
      padding-left: 3rem; } }

.collapsed {
  display: none; }

.arrow-collapsed {
  transform: scale(-1); }

.footer {
  width: 100%;
  height: 8vh;
  background-color: #fff;
  border-top: solid 0.1rem #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media all and (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  .footer__text::first-letter {
    text-transform: uppercase; }
  .footer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: #6b6b6b;
    opacity: 0.5;
    margin: 3rem 0 0 0; }
    @media all and (min-width: 768px) {
      .footer__text {
        padding-left: 4rem; } }
  .footer__logo {
    width: 10.3rem;
    height: 4rem;
    margin: 1.2rem 4.7rem 2rem 4.8rem; }

html {
  font-size: 62.5%; }

.main-card {
  background-image: linear-gradient(to bottom, #f5f5f5, #fff); }
  @media all and (min-width: 768px) {
    .main-card {
      min-height: 70vh;
      padding: 2rem 3rem 2rem 0;
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem; } }

/*# sourceMappingURL=awesome-card.css.map */
