<!--legend-->
<legend title="Despliega la seción de rellena" class="main-card__form--fill--legend js_fill-legend">
  <i class="fa-regular fa-keyboard"></i>
  <h2 class="main-card__form--fill--legend--title">Fill</h2>
  <i class="fa-solid fa-chevron-up arrow-collapsed js_arrow-fill"></i>
</legend>

<!--div1-->
<div class="main-card__form--fill--div js_fill-content collapsed">
  <label for="fullname" class="main-card__form--fill--div--label"
    >Full Name</label
  >
  <input
    id="name"
    class="main-card__form--fill--div--input js_fill-name js__input"
    type="text"
    name="name"
    placeholder="Ej.: Sally Jill"
    required
  />

  <label for="job" class="main-card__form--fill--div--label">Job</label>
  <input
    id="job"
    class="main-card__form--fill--div--input js_fill-job js__input"
    type="text"
    name="jobDesc"
    placeholder="Ej: Front-end unicorn"
    required
  />

  <label class="main-card__form--fill--div--label">Profile Picture</label>

  <!--div2-->
  <div class="main-card__form--fill--div--boxes">
    <label class="main-card__form--fill--div--boxes--label-image" for="photo"
      >Add Image</label
    >
    <input type="file" class="main-card__form--fill--div--boxes--label-image--input--images js__profile-upload-btn" name="photo" id="photo">
    <!--div3-->
    <div class="main-card__form--fill--div--boxes--square js__profile-preview"></div>
  </div>

  <label for="email" class="main-card__form--fill--div--label" >Email</label>
  <input
    id="email"
    class="main-card__form--fill--div--input js_fill-email js__input"
    type="email"
    name="email"
    placeholder="sally-hill@gmail.com"
    required
  />

  <label for="phone" class="main-card__form--fill--div--label"
    >Phone</label
  >
  <input
    id="phone"
    class="main-card__form--fill--div--input js_fill-tel js__input"
    type="tel"
    name="telefono"
    placeholder="Ej: 555-55-55-55"
    required
  />

  <label for="linkedin" class="main-card__form--fill--div--label"
    >Linkedin</label
  >
  <input
    id="linkedin"
    class="main-card__form--fill--div--input js_fill-linkedin js__input"
    type="url"
    placeholder="Ej: https://linkedin.com/in/sally.hill"
    required
  />

  <label for="github" class="main-card__form--fill--div--label"
    >Github</label
  >
  <input
    id="github"
    class="main-card__form--fill--div--input js_fill-github js__input"
    type="url"
    placeholder="Ej: https://github.com/sallyhill"
    required
  />
</div>
