<legend class="main-card__form--design--legend js_design-legend">
     <i class="fa-regular fa-object-ungroup"></i>
     <h2 class="main-card__form--design--legend--title">Desing</h2>
     <i class="fa-solid fa-chevron-up arrow-collapsed js_arrow-design"></i>
</legend>

<div class="main-card__form--design--div js_design-content">
     <h3 class="main-card__form--design--div--title">Color</h3>
     <div class="main-card__form--design--div--rectangle1">
          <input type="radio" name="color" id="color_1" value="green" class="main-card__form--design--div--rectangle1--input js_palette1" checked >
          <div class="main-card__form--design--div--rectangle1--1"></div>
          <div class="main-card__form--design--div--rectangle1--2"></div>
          <div class="main-card__form--design--div--rectangle1--3"></div>
     </div>
     <div class="main-card__form--design--div--rectangle2">
          <input type="radio" name="color" id="color_2" value="red" class="main-card__form--design--div--rectangle2--input js_palette2">
          <div class="main-card__form--design--div--rectangle2--1"></div>
          <div class="main-card__form--design--div--rectangle2--2"></div>
          <div class="main-card__form--design--div--rectangle2--3"></div>
     </div>
     <div class="main-card__form--design--div--rectangle3">
          <input type="radio" name="color" id="color_3" value="blue" class="main-card__form--design--div--rectangle3--input js_palette3">
          <div class="main-card__form--design--div--rectangle3--1"></div>
          <div class="main-card__form--design--div--rectangle3--2"></div>
          <div class="main-card__form--design--div--rectangle3--3"></div>
     </div>
</div>
