<!--legend share-->
<legend title="Despliega sección comparte" class="main-card__form--share--legend js_share-legend">
    <i class="fa-sharp fa-solid fa-share-nodes"></i>
    <h2 class="main-card__form--fill--legend--title">Comparte</h2>
    <i class="fa-solid fa-chevron-up arrow-collapsed js_arrow-share"></i>
</legend>

<!--share button-->
<div class="main-card__form--share js_share-content collapsed">
<div class="main-card__form--share--button js_shareButtonContent">
    <i class="fa-regular fa-address-card"></i>
    <input type="button" class="main-card__form--share--button--title js_create_button" value="Crear Tarjeta"/>
</div>

<div class="main-card__form--share--twitter">
    <h2 class="main-card__form--share--twitter--text js_infoText"></h2>
    <a class="main-card__form--share--twitter--link js_shareLink collapsed" href="" target="_blank"></a>
    <button class="main-card__form--share--twitter--button collapsed js_buttonTwitter">
        <a class="main-card__form--share--twitter--button--linkTwitter js_shareLinkTwitter" target="_blank" href="https://twitter.com/intent/tweet?">
            <i class="fa-brands fa-twitter"></i>  Compartir en twitter</a>
    </button>
    
</div>

</div>