<section class="card-creation">

    <h1 class="card-creation__title">Create your business card</h1>

    <p class="card-creation__paragraph">Create better professional contacts easily and comfortably</p>

<div class="card-creation__div">
    <article class="card-creation__div--item">Design
       <i class="fa-solid fa-object-ungroup"></i>
    </article>

    <article class="card-creation__div--item">Fill
        <i class="fa-regular fa-keyboard"></i>
    </article>

    <article class="card-creation__div--item">Share
        <i class="fa-solid fa-share-nodes"></i>
    </article>
</div>

    <a class="card-creation__button" href="awesome-card.html">Start</a>

</section>